<!DOCTYPE html>
<html>

<head>
  <title>Web2 - Projekt1</title>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
  <style>
    html, body {
        height: 98%;
        padding: 0;
        margin: 0;
      }
    #content {
        height: 100%;
        width: 100%;
    }
    #map {
        height: 100%;
        width: 69%;
        float: left;
    }
    #history {
      width: 28%;
      float: right;
    }
    #statusDiv {
      width: 100%;
      height: 5%;
      white-space: nowrap;
      text-align: center;
    }
    #status {
      width: 90%;
      display: inline-block;
    }
    #loginButton {
      width: 10%;
      display: inline-block;
    }
  </style>
</head>

<body>
  <div id="statusDiv">
    <p id = "status"></p>
    {{#if user.isAuthenticated}}
    <form action="/logout" id="loginButton">
      <input type="submit" value="Odjavi se" />
    </form>
    {{else}}
    <form action="/history" id="loginButton">
      <input type="submit" value="Prijavi se" />
    </form>
    {{/if}}
  </div>
  <div id='content'>
    <div id='map'></div>
    <div id='history'>
      {{{body}}}
    </div>
  </div>

  <script>
    //INIT MAP

     //center Croatia
     var map = L.map('map').setView({lon: 15.985, lat: 44.440}, 7);

    // add the OpenStreetMap tiles
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
      }).addTo(map);

    // show the scale bar on the lower left corner
    L.control.scale({imperial: true, metric: true}).addTo(map);
  </script>  
</body>

</html>